.jobs
{
width: 400px;

}

.commandPosition
{
font-weight: bold;}

.civilianPosition
{
text-align: left; background-color: blue;  float: left;}

.sciencePosition
{background-color: purple; text-align: center;}

.medicalPosition
{background-color: green; text-align: right;}

.securityPosition
{
background-color: red; text-align: left;}

.engineeringPosition{background-color: grey; text-align: center;}.